main {
    --panel-split: 66.67%;

    height: 100%;
    min-height: 0;

    display: grid;
    grid-template-rows: var(--panel-split) var(--gap-05) minmax(0, 1fr);
    grid-template-columns: 1fr;

    #divider {
        position: relative;
        touch-action: none;

        &::after {
            width: 100%;
            height: 100%;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--theme-muted);
            border-radius: 2px;
            opacity: 0;
            transition: opacity 0.15s;
        }

        &:hover::after {
            opacity: 1;
        }
    }

    &[data-layout="vertical"] {
        grid-template-rows: var(--panel-split) var(--gap-05) minmax(0, 1fr);
        grid-template-columns: 1fr;

        & #divider {
            height: calc(var(--gap-05) * 0.8);
            width: 100%;
            cursor: row-resize;
        }
    }

    &[data-layout="horizontal"] {
        grid-template-columns: var(--panel-split) var(--gap-05) minmax(0, 1fr);
        grid-template-rows: 1fr;

        & #divider {
            width: calc(var(--gap-05) * 0.8);
            height: 100%;
            cursor: col-resize;
        }
    }
}

.layout-vertical,
.layout-horizontal {
    display: none;
}

:has(main[data-layout="vertical"]) .layout-vertical {
    display: block;
}

:has(main[data-layout="horizontal"]) .layout-horizontal {
    display: block;
}

/* Prevent text selection while dragging the divider */
body.dragging {
    user-select: none;
}
