.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap-05);
}

.flex-row {
    flex-direction: row;
}

.error {
    color: var(--theme-error);
}

.muted {
    color: var(--theme-muted);
}
