:root {
  --gap-2: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  height: 100dvh;
  width: 100dvw;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-2);

  section#code {
    flex: 2;
  }

  section#output {
    flex: 1;
  }
}

#display-output {
  /** Preserve whitespace and newlines in the output display */
  white-space: pre-wrap;
}
